@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  padding: 0;
  margin: 0;
  font-family: var(--font-ubuntu), sans-serif; /* optional if using your font */
  overflow-x: hidden;
  overflow-y: auto;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}
